<ul id="dropdown_projects" class="dropdown-content">
        {% assign projects = site.projects | sort: 'url' %}
        {% for project in projects %}
        <li{% if page.url == project.url %} class="active"{% endif %}><a class="waves-effect" href="{{site.url}}{{project.url}}">{{project.title}}</a></li>
        {% endfor %}
</ul>
<ul id="dropdown_abouts" class="dropdown-content">
        {% assign abouts = site.abouts | sort: 'title' %}
        {% for about in abouts %}
        <li{% if page.url == about.url %} class="active"{% endif %}><a class="waves-effect" href="{{site.url}}{{about.url}}">{{about.title}}</a></li>
        {% endfor %}
</ul>
<div class="navbar-fixed">
<nav>
<div class="nav-wrapper">
  <a class="brand-logo center" href="{{ site.baseurl }}/">ThalesVB</a>
  <a id="sidenav_toggle" href="#" data-activates="side_nav" class="button-collapse"><i class="material-icons">menu</i></a>
  
  <ul class="left hide-on-med-and-down">
    <li{% if page.url contains '/blog/' %} class="active"{% endif %}>
      <a class="waves-effect" href="{{ site.url}}/blog/">Blog</a>
    </li>
    <li class="dropdown{% if page.url contains '/projects/' %} active{% endif %}">
      <a class="dropdown-button waves-effect" data-activates="dropdown_projects" data-beloworigin="true" data-constrainwidth="false" href="#">Projects <i class="material-icons right">arrow_drop_down</i></a>
    </li>
    
    <li class="dropdown{% if page.url contains '/about/' %} active{% endif %}">
      <a class="dropdown-button waves-effect" data-activates="dropdown_abouts" data-beloworigin="true" data-constrainwidth="false" href="#">About... <i class="material-icons right">arrow_drop_down</i></a>
    </li>
  </ul>

  <ul class="side-nav" id="side_nav">
    <li>
      <div class="userView background sideview-background">
        <img class="circle" src="//avatars.githubusercontent.com/thalesvb" alt="ThalesVB's avatar image">
        <a><span class="white-text brand-name">ThalesVB</span></a>
        <a><span class="white-text site">thalesvb.github.io</span></a>
      </div>
    </li>
    <li{% if page.url contains '/blog/' %} class="active"{% endif %}>
      <a class="waves-effect" href="{{ site.url}}/blog/">Blog</a>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Projects</a></li>
    <li>
      <ul>
        {% assign projects = site.projects | sort: 'url' %}
        {% for project in projects %}
        <li{% if page.url == project.url %} class="active"{% endif %}><a class="waves-effect" href="{{site.url}}{{project.url}}">{{project.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">About</a></li>
    <li>
      <ul>
        {% assign abouts = site.abouts | sort: 'title' %}
        {% for about in abouts %}
        <li{% if page.url == about.url %} class="active"{% endif %}><a class="waves-effect" href="{{site.url}}{{about.url}}">{{about.title}}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>

  {% if page.url contains '/blog/' %}
  <ul class="right hide-on-med-and-down">
    <li>{{site.data.i18n[page.lang].available_translations}}</li>
    {% assign posts=site.posts | where:"universal_name", page.universal_name | sort: 'path' %}
    {% for post in posts %}
    <li class="lang">
        <a href="{{ post.url }}" hreflang="{{ post.lang }}" {% if post.lang == page.lang %}class="langActive"{% endif %}>{{ post.lang }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
</nav>
</div>