<!DOCTYPE html>
{% assign subtitle = page.date | date_to_long_string %}
<html>
  <head>
    {% include head_common.html %}
    <link rel="stylesheet" href="/css/post.css"/>
  </head>
  <body>
    {% include post_background.html %}
    {% include nav.html %}
    {% include header.html %}
    <main>
    <div class="container text-justify">
    {{content}}
    </div>
    </main>
    <footer>
    <div class="container">
    <p><label class="sr-only" for="date">Date</label><span id="date" title="Date" class="fa fa-calendar" aria-hidden="true"></span> {{ page.date | date_to_long_string }}</p>
    
    <p><label class="sr-only" for="categories">Categories</label><span id="categories" title="Categories" class="fa fa-th-list" aria-hidden="true"></span> 
    {% for category in page.categories%}
      {{category}}
    {% endfor %}
    </p>
    
    <p><label class="sr-only" for="tags">Tags</label><span id="tags" title="Tags" class="fa fa-tags" aria-hidden="true"></span>
    {% for tag in page.tags %}
      {{tag}}
    {% endfor %}
    </p>
    </div>
    </footer>
    {% include footer.html %}
  </body>
</html>
