<!DOCTYPE html>{% assign data = site.data.projects[page.project] %}
<html>
  <head>
    {% include head_common.html %}
  </head>
  <body>
    {% include nav.html %}
    {% include header.html %}
    <main>
    <div class="container">
    {{content}}
    </div>
    {% for subproject in data.subprojects %}
    <div class="subproject">
        <h1 class="name grey darken-4 teal-text text-lighten-2">{{subproject.name}}</h1>
        <p>{{subproject.description}}</p>
        {% if subproject.features.size > 0 %}
            <h2 class="mainTopic grey darken-2 teal-text text-lighten-2">Features</h2>
            <div class="container marketing">
            {% assign colspanValue = 4 %}
            {% for feature in subproject.features %}
                {% assign modvalue = forloop.index0 | modulo:3 %}
                {% if modvalue == 0 %}
                <div class="row">
                    {% if forloop.rindex < 3 %}
                        {% assign colspanValue = 12 | divided_by:forloop.rindex %}
                    {% endif %}
                {% endif %}
                <div class="col s12 m{{ colspanValue }}">
                <img class="img-circle project-icon iconFeature" {% if feature.icon %}src="{{site.prefix_cdn}}{{feature.icon}}"{% endif %} />
                <h3>{{feature.name}}</h3>
                <p>{{feature.description}}</p>
                </div>
                {% if modvalue == 2 or forloop.last %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        
        {% if subproject.features_testing.size > 0 %}
            <h2 class="mainTopic grey darken-2 teal-text text-lighten-2">Testing features</h2>
            <div class="container marketing">
            {% assign colspanValue = 4 %}
            {% for feature in subproject.features_testing %}
                {% assign modvalue = forloop.index0 | modulo:3 %}
                {% if modvalue == 0 %}
                <div class="row">
                    {% if forloop.rindex < 3 %}
                        {% assign colspanValue = 12 | divided_by:forloop.rindex %}
                    {% endif %}
                {% endif %}
                <div class="col s12 m{{ colspanValue }}">
                <img class="img-circle project-icon iconFeatureTesting" {% if feature.icon %}src="{{site.prefix_cdn}}{{feature.icon}}"{% endif %} />
                <h3>{{feature.name}}</h3>
                <p>{{feature.description}}</p>
                </div>
                {% if modvalue == 2 or forloop.last %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}

        {% if subproject.features_planned.size > 0 %}
            <h2 class="mainTopic grey darken-2 teal-text text-lighten-2">Planned features</h2>
            <div class="container marketing">
            {% assign colspanValue = 4 %}
            {% for feature in subproject.features_planned %}
                {% assign modvalue = forloop.index0 | modulo:3 %}
                {% if modvalue == 0 %}
                <div class="row">
                    {% if forloop.rindex < 3 %}
                        {% assign colspanValue = 12 | divided_by:forloop.rindex %}
                    {% endif %}
                {% endif %}
                <div class="col s12 m{{ colspanValue }}">
                <img class="img-circle project-icon iconFeaturePlanned" {% if feature.icon %}src="{{site.prefix_cdn}}{{feature.icon}}"{% endif %} />
                <h3>{{feature.name}}</h3>
                <p>{{feature.description}}</p>
                </div>
                {% if modvalue == 2 or forloop.last %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        
        {% if subproject.screenshots.size > 0 %}
            <h2 class="mainTopic grey darken-2 teal-text text-lighten-2">Screenshots</h2>

            <div class="carousel carousel-slider">
                {% for screenshot in subproject.screenshots %}
                <div class ="carousel-item imageCaptioned">
                    <img src="{{site.prefix_cdn}}{{page.url}}{{screenshot.image_file}}" class="materialboxed" alt="">
                    <h3 class="center">{{screenshot.caption}}</h3>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        
    </div>
    {% endfor %}
    </main>
    {% include footer.html %}
    <script type="text/javascript" src="/js/project.js"></script>
  </body>
</html>
